
.w3 {
    background-color: #f8f8f8;
    overflow: hidden;
		width: 100%;
		border: 1px solid #555;
		margin-bottom: 30px;
		position: fixed;
		padding-right: 20px;
}

.Nav ul {
	width: 100%;
	height: 80px;

}

.home {
	text-decoration: none;
}

.cart {
	text-decoration: none;
}

.about {
	text-decoration: none;
}

.Main {
	text-decoration: none;
}

/* Style the links inside the navigation bar */
.Nav  li{
	list-style-type: none;
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
		display:inline-block;
		padding:8px;
		float: right;
}

.Main h1 {
	float:left;
	padding-top: 10px;
	padding-left: 10px;
}


/* Change the color of links on hover */
.Nav li:hover {
    background-color: #ddd;
    color: black;
		transition:all 0.40s;
}

/* Add a color to the active/current link */
.Nav li.active {
    background-color: #4CAF50;
    color: white;
}

input[type=text] {
    width: 130px;
		height: 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 200px;
		height: 35px;
}
